body {
  display: flex;
  background-color: #EFEFEF;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.white-text, .grey-text.text-lighten-3 {
  color: #848484 !important;
}

.grey-text.text-lighten-4 {
  color: #000 !important;
}
