body {
  display: flex;
  background-color: #EFEFEF;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.white-text, .grey-text.text-lighten-3 {
  color: #848484 !important;
}

.grey-text.text-lighten-4 {
  color: #000 !important;
}

nav {
  color: #626262;
}

.side-nav, .right-aligned, .at-form{
  background-color: #D3D3D3;
  padding: 20px;
}

@media only screen and (min-width : 2000px) {
  .button-collapse { display: inline-block;}
}
@media only screen and (min-width: 993px){
  nav a.button-collapse {
    display: inline-block;
  }
}
